$primaryColor:#3F51B5;
$primaryLightestColor: #E8EAF6;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#6C757D;
$accentTextColor:#ffffff;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';